# Created by https://www.toptal.com/developers/gitignore/api/c++
# Edit at https://www.toptal.com/developers/gitignore?templates=c++

Aureus/*
!Aureus/Aureus_Matcher
!Aureus/Aureus_Extractor
Aureus/Aureus_*/arm
Aureus/Aureus_*/linux
Aureus/Aureus_*/cxutils.h
Aureus/Aureus_*/cxutils.cpp

# Sample Folder for Images
sample_*

# License File
lic.txt

### C++ ###
# Prerequisites
*.d
*.old
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++